

.h1{
font-size: 50px;
text-align: center;
color: rgb(1, 1, 1);}


.form-register {
margin: auto;
width: 500px;
height: 60%;
background-color: rgba(250, 235, 215, 0.481);
padding: 30px;
color:#121212b6;
border: 3px solid rgba(0, 0, 0, 0.581);}

.controls {
width: 100%;
padding: 20px;
border-radius: 4px;
margin-bottom: 16px;
border: 1px solid black;
font-size: 18px;}
.form-register .botons{
width: 100%;
background: #1f53c5;
border: none;
padding: 20px;
color: white;
margin: 50px 0;
font-size: 17px;}


